.calculator-item {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 20px;
}

.calculator-item:hover {
  background-color: beige;
  color: black;
  border: 1px solid black;
}
