.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.result {
  color: gray;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-field {
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.calculator-pad {
  display: flex;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
